---
const personalImageAlt = "Ruben Anderson"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row md:gap-16">
  <!-- Texto de presentación -->
  <div class="order-2 md:order-1 text-center md:text-left">
    <p class="mb-4 leading-relaxed">
      Me llamo Ruben Anderson, pero mis amigos me llaman Ander. Soy estudiante de
      <strong class="text-yellow-500 dark:text-yellow-300 font-mono">Ingeniería Informática</strong> y estoy en constante aprendizaje en el
      mundo del <strong class="text-yellow-500 dark:text-yellow-300 font-mono">desarrollo de software y análisis de datos</strong>.
    </p>
    <p class="mb-4 leading-relaxed">
      He trabajado en proyectos innovadores como el <strong class="text-yellow-500 dark:text-yellow-300 font-mono">prototipo de monitoreo de aguas residuales</strong>, utilizando herramientas como Python, AWS y Docker. Mi objetivo es seguir creciendo profesionalmente y colaborar en proyectos que generen un impacto positivo.
    </p>
    <p class="leading-relaxed">
      Estoy siempre en busca de <strong class="text-yellow-500 dark:text-yellow-300 font-mono">nuevas oportunidades</strong> para aplicar mis habilidades y aprender tecnologías emergentes. Mi meta es contribuir a la industria tecnológica y ayudar a las empresas a alcanzar sus objetivos.
    </p>
  </div>

  <!-- Imagen de perfil -->
  <img src="/me.png" alt={personalImageAlt} class="order-1 w-40 h-40 md:w-48 md:h-48 object-cover rounded-full ring-2 ring-yellow-500 dark:ring-yellow-300 transform hover:scale-105 transition-transform duration-200 ease-out">
</article>

<!-- Sección de información adicional -->
<section class="mt-16 space-y-16 text-gray-700 dark:text-gray-300">
  <!-- Sección genérica para repetición -->
  <template id="section-template">
    <div class="section">
      <div class="flex items-center mb-4">
        <span class="icon w-8 h-8 text-yellow-500 dark:text-yellow-300"></span>
        <h2 class="ml-3 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl dark:text-white title"></h2>
      </div>
      <ul class="pl-8 mt-4 space-y-3 list-disc text-lg content"></ul>
    </div>
  </template>

  <!-- Formación Complementaria -->
  <div class="section">
    <div class="flex items-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-yellow-500 dark:text-yellow-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l6.16-3.422a12.083 12.083 0 01.818 3.073L12 18l-6.978-4.349c.065-1.042.325-2.05.818-3.073L12 14z" />
      </svg>
      <h2 class="ml-3 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl dark:text-white">Formación Complementaria</h2>
    </div>
    <ul class="pl-8 mt-4 space-y-3 list-disc text-lg">
      <li><strong>AWS Academy Cloud Foundations (AWS)</strong>, Amazon | Marzo 2023 - Julio 2023</li>
      <li><strong>Temas avanzados de MYSQL</strong>, Meta | Septiembre 2023 - Octubre 2023</li>
      <li><strong>Scrum Foundation Professional</strong>, CertiProf | Septiembre 2023 - Octubre 2023</li>
      <li><strong>Preparing Data for Analysis with Microsoft Excel</strong>, Microsoft | Diciembre 2023 - Enero 2024</li>
      <li><strong>AWS Academy Data Engineering (AWS)</strong>, Amazon | Marzo 2024 - Junio 2024</li>
    </ul>
  </div>

  <!-- Idiomas -->
  <div class="section">
    <div class="flex items-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-blue-500 dark:text-blue-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 5h12M9 3v2m0 14v2m-6 0h12M9 9l-6 6m0 0l6 6m-6-6h12" />
      </svg>
      <h2 class="ml-3 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl dark:text-white">Idiomas</h2>
    </div>
    <ul class="pl-8 mt-4 space-y-3 list-disc text-lg">
      <li><strong>Español:</strong> Nativo</li>
      <li><strong>Inglés:</strong> Intermedio</li>
    </ul>
  </div>

  <!-- Informática -->
  <div class="section">
    <div class="flex items-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-green-500 dark:text-green-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3m0 0h3m-3 0v3m0-3v-3m0 0l-3 3m0 0l3-3m-3 3l-3 3m3-3l3-3" />
      </svg>
      <h2 class="ml-3 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl dark:text-white">Tecnologías</h2>
    </div>
    <ul class="pl-8 mt-4 space-y-3 list-disc text-lg">
      <li>Python</li>
      <li>Power Apps</li>
      <li>AWS</li>
      <li>Excel</li>
      <li>MySQL</li>
      <li>MongoDB</li>
      <li>Oracle</li>
      <li>Power BI</li>
      <li>HTML & CSS</li>
      <li>Docker & Kubernetes</li>
      <li>Flask</li>
    </ul>
  </div>
</section>

